weather-table {
    table {
        border: solid 1px #7d7b7b;
        border-collapse: collapse;
        width: 100%;
        color: #a5a3a3;

        th {
            padding: 5px;
            text-align: center;
            border: solid 1px #7d7b7b;
            font-size: 16px;
            font-weight: normal;
        }

        td {
            text-align: center;
            padding: 10px;
            border-right: solid 1px #7d7b7b;
        }

        tr th:first-child, td:first-child {
            text-align: left;
        }
    }
}
